*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: aqua;
    height: 70px;
    margin: 3px;
}

.main{
    display: flex;
    gap:3px;
    height: 40vh;
    margin: 0px 3px ;
}
.left{
    background-color: green;
    width:30%;
    height: 100%;
}
.right{
    background-color: blueviolet;
    width:70%;
    height: 100%;
}
.footer{
    margin: 3px;
    background-color: blue;
    height: 70px;
}