* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  width: 55rem;
  display: grid;
  gap: 1rem;
  padding: 3rem;
  grid-template-areas:
    "red-box red-box blue-box blue-box"
    "green-box purple-box purple-box purple-box"
    "yellow-box yellow-box yellow-box yellow-box";
}

.box {
  padding: 3rem;
  border-radius: 1rem;
}

.red {
  background-color: red;
  grid-area: red-box;
  opacity: 80%;
}

.blue {
  background-color: blue;
  grid-area: blue-box;
  opacity: 80%;
}

.green {
  background-color: green;
  grid-area: green-box;
  border-radius: 1rem;
  opacity: 80%;
}

.purple {
  background-color: purple;
  opacity: 80%;
  grid-area: purple-box;
}

.yellow {
  background-color: yellow;
  grid-area: yellow-box;
  opacity: 80%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}